doctype html
html
  head
    title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header
      h1
        span.green cute
        span or
        span.red Not?
      h2 Node.js Voting Game

    block content
    footer
